!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => current_page.data.description, :name => "description"}/
    %meta{:content => "Lizzie Goodridge", :name => "author"}/
    %title= current_page.data.title + " &mdash; Performer" || "Lizzie Goodridge &mdash; Performer"

    = stylesheet_link_tag "app.css"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat:400,700"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"

  %body#page-top.index{class: "#{page_classes}"}
    = partial "partials/nav"
    
    = yield

    = partial "partials/footer"
    = partial "partials/gallery_modals"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
    = javascript_include_tag "app.js"