---
title: Lizzie Goodridge

description: Lizzie is a skilled Musical Theatre Performer, graduate of 2014 at MEPA, she trained under the direction of Mandy Ellen. 

spotlight: 4775-7861-7001

avatar: avatar.jpg

gallery: 
  - 
    title: Headshot 1
    src: 1.jpg
  -
    title: Headshot 2
    src: 2.jpg
  -
    title: Headshot 3
    src: 3.jpg
  -
    title: Headshot 4
    src: 4.jpg
  -
    title: Headshot 5
    src: 5.jpg
  -
    title: Headshot 6
    src: 6.jpg
  -
    title: Headshot 7
    src: 7.jpg

showreel:
  - "https://www.youtube.com/embed/TLrhS8CXUPM"
  - "https://www.youtube.com/embed/pZNNmydzfZ4"

---

= partial "partials/header"
= partial "partials/gallery"

%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2 About
        %hr.star-light/
    .row
      .col-sm-8.col-sm-push-2.text-center
        %p= current_page.data.description
        %p
          To find out more about Lizzie view her 
          =link_to "interactive CV", "http://www.spotlight.com/4775-7861-7001"
        %p
          Or alternatively visit her 
          =link_to "Casting Call Pro", "http://www.castingcallpro.com/uk/presenter/profile/lizzie-goodridge" 
          profile.

        %p
          Lizzie is also a Professional Voice Over Artist. Visit her 
          =link_to "PieHole profile", "www.piehole.co.uk/lizziegoodridge" 
          for more details.

= partial "partials/showreel"

= partial "partials/contact"