---
title: Lizzie Goodridge

description: Lizzie is a performer currently working in industry. She trained for three years at Mandy Ellen Performing Arts under the direction of Mandy Ellen.

about: Lizzie is a performer currently working in industry. She trained for three years at Mandy Ellen Performing Arts under the direction of Mandy Ellen.

spotlight: 4775-7861-7001

avatar: avatar.jpg

gallery: 
  - 
    title: Headshot 1
    description: This is an optional description
    src: 1.jpg
  -
    title: Headshot 2
    description: This is an optional description
    src: 2.jpg
  -
    title: Headshot 3
    description: This is an optional description
    src: 3.jpg

showreel:
  - "https://www.youtube.com/embed/TLrhS8CXUPM"
  - "https://www.youtube.com/embed/pZNNmydzfZ4"

---

= partial "partials/header"
= partial "partials/gallery"

%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2 About
        %hr.star-light/
    .row
      .col-sm-12.text-center
        %p= current_page.data.about

= partial "partials/showreel"

= partial "partials/contact"